
.signup-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.signup-content {
    max-width: 360px;
    width: 100%;
    margin:  0 auto;
    position: relative;
}

.back-btn {
    position: absolute;
    left: -30px;
    top: 0;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.progress-bar {
    height: 3px;
    background: #3a3a3a;
    margin-bottom: 20px;
}

.progress-fill {
    width: 33.3%;
    height: 100%;
    background: #1ed760;
}

.step-text {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 6px;
}

h1 {
    font-size: 28px;
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 6px;
}

.password-input-wrapper {
    position: relative;
}

.password-input-wrapper input {
    width: 100%;
    height: 44px;
    background: #121212;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    padding: 0 40px 0 14px;
    color: white;
}

.password-input-wrapper input:focus {
    border-color: white;
    outline: none;
}

.eye-icon {
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
}

.rules-title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.rule {
    font-size: 13px;
    margin-top: 8px;
    color: #b3b3b3;
}

.rule span {
    margin-right: 6px;
}

.valid {
    color: #1ed760;
}

.next-btn {
    margin-top: 28px;
    height: 44px;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    background-color: #1ed760;
    color: black;
    cursor: pointer;
}

.next-btn.disabled {
    background-color: #535353;
    cursor: not-allowed;
}

.bottom-terms {
    text-align: center;
    font-size: 11px;
    color: #b3b3b3;
    padding-bottom: 30px;
    margin-top: auto;
}

.bottom-terms a {
    color: #b3b3b3;
    text-decoration: underline;
}

.bottom-terms a:hover {
    color: #1ed760;
}

.logo-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom:50px ;
}

.spotify-logo {
    width: 40px;
}

.back-btn {
    position: absolute;
    left: -40px;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.back-btn img {
    width: 20px;
}

.password-input-wrapper {
    position: relative;
}

.password-input-wrapper input {
    width: 100%;
    height: 44px;
    background: #121212;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    padding: 0 45px 0 14px;
    color: white;
}

.toggle-icon {
    position: absolute;
    right: 12px;
    top: 10px;
    width: 22px;
    cursor: pointer;
}
